/* B U T T O N S   C S S   D O C U M E N T */

/* FOR buttons and button styling */


/* ------------------------------ */


/* A TAG BUTTONS */

/* navbar buttons/links */
.navbar-text {
    color: white;
    font-size: 1.25rem;
    text-decoration: inherit;
    transition: transform 200ms, color 200ms;
}

.navbar-text:hover {
    color: rgb(71, 104, 149)
}

.navbar-text-spacing {
    position: relative;
    display: inline-block;
}

/* footer button links */
.a-formatting {
    position: relative;
    color: rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(rgba(6, 70, 120, 0.4) 0px 0px 10px) drop-shadow(rgba(0, 0, 0, 0.4) 0px 2px 4px);
    transition: margin-top ease 200ms, color 200ms;
}

.a-formatting:hover {
    color: rgb(153, 179, 215);
    margin-top: -10px;
}

.footer-links {
    text-decoration: none;
    color: white;
    transition: top ease 200ms, color 200ms;
}

.footer-links:hover {
    color: rgb(153, 179, 215);
    top: -10px;
}

/* plain ol buttons */
.a-tag-button {
    font-weight: 600;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    white-space: nowrap;
    transition: transform ease 200ms, background-color 200ms;
    text-decoration: none;
}

.a-tag-button:hover {
    background-color: rgb(153, 179, 215);
    transform: translate(0, -5px);
}