/* test */



.header-formatting {
    width: 100%;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    animation: 0.75s ease-in-out 0s 1 normal none running fadeIn;
}

.header-logo-formatting {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: white;
    font-size: 1.25rem;
}

.header-img-formatting {
    width: 16.7rem;
    cursor: pointer;
}

.navbar-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar-block-formatting {
    display: flex;
    flex-flow: wrap;
    gap: 0.75rem;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

.navbar-text {
    color: white;
    font-size: 1.25rem;
    text-decoration: inherit;
    transition: transform 200ms, color 200ms;
}

.navbar-text:hover {
    color: rgb(153, 179, 215)
}

.navbar-text-spacing {
    position: relative;
    display: inline-block;
}

html {
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-feature-settings:normal;font-variation-settings:normal
}

body {
    margin:0;
    line-height:inherit
}

hr {
    height:0;
    color:inherit;border-top-width:1px
}



.frame {
    height: 100%;
}

.gJtDCr {
    height: calc(8rem + 100vh);
    background-image: url("https://olive-avenue.net/homepage-images/homepage-banner.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eKmeJV {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-image: linear-gradient(80deg, rgba(2, 20, 35, 0.9), transparent 70%); */
    mix-blend-mode: hard-light;
    z-index: 3;
}

.bEhjOq {
    width: 40%;
    color: rgb(255, 255, 255);
    margin-top: -12rem;
    position: absolute;
    filter: drop-shadow(rgba(6, 70, 120, 0.4) 0px 0px 10px) drop-shadow(rgba(0, 0, 0, 0.4) 0px 2px 4px);
    left: 10vw;
    z-index: 3;
}

.lfPpez {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    letter-spacing: -0.05rem;
    line-height: 1;
}

.jTPAGE {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.topfooter-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0px;
    margin-block: 2rem;
    background: url("../sitewide-images/footer-bg.jpg");
    background-size: cover;
}

.bottomfooter-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0px;
    color: white;
    background-color: rgb(34, 111, 211);
    font-size: 0.8rem;
}

.bottomfooter-base img {
    width: 13rem;
    margin-block: 1rem;
}

.footers-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-block: 1rem;
    color: rgb(160, 174, 192);
    border-top: 1px solid rgb(160, 174, 192);
    font-size: 1.5rem;
    padding-top: 1rem;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 3em;
    overflow: visible;
    vertical-align: -0.125em;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.a-formatting {
    position: relative;
    color: rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(rgba(6, 70, 120, 0.4) 0px 0px 10px) drop-shadow(rgba(0, 0, 0, 0.4) 0px 2px 4px);
    transition: margin-top 100ms, color 200ms;
}

.a-formatting:hover {
    color: rgb(153, 179, 215)
}

.body-padding {
    padding-left: 4rem;
    padding-right: 4rem;
}

.section-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 64px;
    margin-block: 2rem;
}

.hero-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 64px;
}

.text-container {
    width: 50%;
    padding-inline: 2.5rem;
}

.image-container {
    width: 50%;
    padding-inline: 2.5rem;
}

.a-tag-button {
        font-weight: 600;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 6rem;
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        cursor: pointer;
        white-space: nowrap;
        transition: 0.2sease-in-out;
        text-decoration: inherit;
}

.a-tag-button:hover {
    background-color: rgb(153, 179, 215)
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:639px)
{
    .container {
        max-width:640px
    }

    .header-formatting {
        flex-direction: column;
    }

    .body-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .text-container {
        width: 100%;
    }

    .image-container {
        width: 100%;
    }

    .section-block {
        flex-direction: column;
    }

    .text-container {
        align-content: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-img-formatting {
        width: 12rem;
        cursor: pointer;
    }

    .header-formatting {
        padding: .2rem;
    }

    .navbar-text {
        font-size: 1rem;
    }
}

@media (min-width:640px)
{
    .container {
        max-width:640px
    }

    .header-formatting {
        flex-direction: column;
    }

    .body-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .text-container {
        width: 100%;
    }

    .image-container {
        width: 100%;
    }

    .section-block {
        flex-direction: column;
    }

    .text-container {
        align-content: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-img-formatting {
        width: 12rem;
        cursor: pointer;
    }

    .header-formatting {
        padding: .2rem;
    }

    .navbar-text {
        font-size: 1rem;
    }
}

@media (min-width:768px)
{
    .container {
        max-width:768px
    }

    .text-container {
        width: 50%;
    }

    .image-container {
        width: 50%;
    }

    .section-block {
        flex-direction: row;
    }

    .header-formatting {
        padding: 1rem;
    }
    
    .header-img-formatting {
        width: 16.7rem;
        cursor: pointer;
    }

    .navbar-text {
        font-size: 1.2rem;
    }
}

@media (min-width:1024px)
{
    .container {
        max-width:1024px
    }

    .header-formatting {
        flex-direction: row;
    }

    .body-padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }


}

@media (min-width:1280px)
{
    .container {
        max-width:1280px
    }
}

@media (min-width:1536px)
{
    .container {
        max-width:1536px
    }
}